DB_URI =mongodb cluster url/bharat_bhakti_sangam
TEST_DB_URI=localt mongodb url /bharat_bhakti_sangam
ACCESS_SECRET=ACCESS_SECRET
REFRESH_SECRET=REFRESH_SECRET
VOLUNTEER_SECRET=VOLUNTEER_SECRET

TICKET_SECRET=TICKET_SECRET
PORT=8001
# dqwc7j44b THIS CLOUD NAME OF kushqrurilo@gmail.com
CLOUD_NAME=CLOUD_NAME (cloudinary )
CLOUD_KEY =CLOUD_KEY  (cloudinary )
CLOUD_SECRET =CLOUD_SECRET (cloudinary )

# BREVO_API_KEY=YOUR_BREVO_API_KEY
EMAIL_NAME=Bharat Bhakti Sangam
INFO_EMAIL=INFO_EMAIL
CONTACT_EMAIL=CONTACT_EMAIL
ORDER_EMAIL=ORDER_EMAIL
CONTACT=+91(CONTACT NUMBER)
BREVO_API_KEY=MAIN BREVO_API_KEY
WHATSAPP_NUMBER=+91(DOUBLE TICK WHATSAPP NUMBER)
WHATSAPP_TICKET_TEMPLATE_API_URL=WHATSAPP_TICKET_TEMPLATE_API_URL/message/template
WHATSAPP_TICKET_TEMPLATE_NAME=WHATSAPP_TICKET_TEMPLATE_NAME
WHATSAPP_TICKET_KEY=WHATSAPP_TICKET_KEY


# REDIS_URL=redis-cli-uredis://default:7D1AC0heB1FNLBRD3ilOq1RQ6fI4QIdo@redis-12579.crce206.ap-south-1-1.ec2.cloud.redislabs.com:12579
REDIS_URL=PRODUCTION REDIS_URL
KUSH_BRAVO_KEY=TESTING BRAVO_KEY
# DEV_REDIS_URL=redis-cli-uredis://default:Ou5X9TVcoYoxEaotZWMoeWH1J8yxoxyK@redis-13082.c273.us-east-1-2.ec2.cloud.redislabs.com:13082
DEV_REDIS_URL=DEVELOPMENT REDIS_URL
FORGET_SECRET=FORGET_SECRET
FORGET_URL=FORGET_URL/admin/reset-password
LOCAL_FORGET_URL=LOCAL_FORGET_URL/admin/reset-password
NODE_ENV =development
FORGET_EMAIL=BUSINESS MAIN EMAIL
EMAIL_PASSWORD=EMAIL APP PASSWORD
